html, body {
	height: 100%;
	margin: 0;
}
#root {
	background-color: #99D8CF;
	min-height: 100%;
	min-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.green {
	background-color: #B3ED99;
}
.white {
	background-color: white;
}
.board-container {
	background-color: white;
	flex-wrap: wrap;
    display: flex;
	width: 400px;
	height: 800px;
}
.block {
	width: 40px;
	height: 40px;
}