{
	"extends": "airbnb",
	"env": {
		"browser": true,
		"mocha": true
	},
	"rules": {
		"no-param-reassign": "off", // Don't detect get/set
		"no-underscore-dangle": "off", // Private members
		"no-plusplus" : "off", // ++i or i++
		"no-restricted-syntax" : "off",
		"guard-for-in" : "off"
	}
}
