/* ==========================================================================
   General
   ========================================================================== */

html, body {
	height: 100%;
	margin: 0;
}
#root {
	background-color: #9AADBF;
	min-height: 100%;
	min-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.white {
	background-color: white;
	border: solid 0.75px #f5f6fa;
}
.cyan {
	background-color: #81ecec;
	border: solid 2px #00cec9;

}
.yellow {
	background-color: #ffeaa7;
	border: solid 2px #fdcb6e;

}
.purple {
	background-color: #a29bfe;
	border: solid 2px #6c5ce7;

}
.green {
	background-color: #55efc4;
	border: solid 2px #00b894;

}
.red {
	background-color: #ff7675;
	border: solid 2px #d63031;
}
.blue {
	background-color: #74b9ff;
	border: solid 2px #0984e3;

}
.orange {
	background-color: #fab1a0;
	border: solid 2px #e17055;

}
.loading-icon {
	width: 3em;
	height: 3em;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	padding: 10px;
    background-color: #454545;
    border-radius: 5px;
}
.loading-icon > div {
	width: 0.5em;
	height: 0.5em;
	background-color: #eb4d4b;
	animation: fade 1s alternate ease-in-out infinite;
}
.loading-icon > div:nth-of-type(2),
.loading-icon > div:nth-of-type(4) {
	animation-delay: 165ms;
}
.loading-icon > div:nth-of-type(3),
.loading-icon > div:nth-of-type(5),
.loading-icon > div:nth-of-type(7) {
	animation-delay: 330ms;
}
.loading-icon > div:nth-of-type(6),
.loading-icon > div:nth-of-type(8) {
	animation-delay: 495ms;
}
.loading-icon > div:nth-of-type(9) {
	animation-delay: 660ms;
}
@keyframes fade {
	to {
		opacity: 0.2;
	}
}
.three-dots-container {
	display: flex;
	justify-content: space-between;
	left: 20px;
	position: absolute;
	top: calc(50% - 5px);
	width: 50px;
}
.three-dots-container div {
	background-color: rgb(252, 98, 93);
	border-radius: 50%;
	height: 12px;
	width: 12px;
}
.three-dots-container div:nth-of-type(2) {
	background-color: rgb(253, 190, 65);
}
.three-dots-container div:last-of-type {
	background-color: rgb(53, 203, 75);
}
.generic-button {
	background-color: #eb4d4b;
	border: solid 1px #383838;
	border-bottom: 4px solid #c31715;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 0.05em;
	padding: 10px 15px;
	text-transform: uppercase;
	transition: 0.1s;
	min-width: 135px;
}
.generic-button:disabled {
	opacity: 0.7;
}
.generic-button:hover:enabled {
	border-bottom-width: 0;
	margin-top: 4px;
}
.music-toggle {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #eb4d4b;
	border-radius: 50%;
	border: none;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	color: white;
	cursor: pointer;
	font-size: 28px;
	height: 50px;
	position: absolute;
	right: 15px;
	top: 15px;
	transition: all 0.3s ease 0s;
	width: 50px;
	z-index: 50;
}
.music-toggle:hover {
	transform: translateY(5px);
}
.music-toggle-linethrough {
	border-bottom: 3px solid white;
	display: block;
	height: 1px;
	position: absolute;
	transform: rotate(30deg);
	width: 34px;
    right: 8px;
    top: 23px;
}

/* ==========================================================================
   Lobby
   ========================================================================== */

.input-error-message {
	background-color: #f5a5a4;
	border-radius: 5px;
	color: #eb4d4b;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 500;
	height: 28px;
	padding: 10px 15px;
	text-align: center;
	transition: opacity 0.3s;
	width: 95%;
}
.error-transition-enter {
	opacity: 0;
}
.error-transition-enter-active {
	opacity: 1;
}
.error-transition-appear {
	opacity: 0;
}
.error-transition-appear-active {
	opacity: 1;
}
input,
select {
	background-color: #EFF1F3;
	border-radius: 5px;
	border: solid 3px #454545;
	color: #eb4d4b;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
	outline: none;
	padding: 10px 15px;
	transition: border 0.3s;
	width: 95%;
}
input:focus {
	border: solid 3px #eb4d4b;
}
input::placeholder {
	color: #aaa4a4;
}

/* Name Input Screen
   ========================================================================== */

.game-title {
	color: #eb4d4b;
	font-family: 'Open Sans', sans-serif;
	font-size: 80px;
	line-height: 1;
	text-align: center;
	margin: 0;
	padding: 0 40px;
}
.username-input-container { 
	background-color: #383838;
	border-radius: 5px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	display: flex;
	flex-direction: column;
	max-width: 100%;
}
.username-input-form {
	align-items: center;
	background-color: #454545;
	border-radius: 5px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.22);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 25px 50px;
	min-height: 185px;
	padding: 30px 40px;
}

/* Room Name Input Screen
   ========================================================================== */

.room-selection-container {
	display: flex;
	justify-content: space-evenly;
}
.room-selection-wrapper {
	background-color: #383838;
	border-radius: 5px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 1200px;
	width: 95%;
}
.room-selection-left-side {
	height: 100%;
	width: calc(65% - 60px);
}
.room-selection-right-side {
	height: 100%;
	width: calc(35% - 60px);
}
.room-list-container,
.room-creation-container,
.player-list-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	width: 100%;
}
.room-list-title,
.room-creation-title,
.player-list-title {
	color: #eb4d4b;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	letter-spacing: 1px;
	margin: 0 0px 20px;
	width: max-content;
}
.list-item {
	background-color: #454545;
	border-top: solid 0.5px #383838;
	border-bottom: solid 0.5px #383838;
	box-shadow: 0 0px 5px rgba(0,0,0,0.22);
	color: #EFF1F3;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	padding: 12px 20px;
}
div .list-item:first-of-type {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top: none;
	box-shadow: 0 3px 5px rgba(0,0,0,0.22);
}
div .list-item:last-of-type {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: none;
	box-shadow: 0 3px 5px rgba(0,0,0,0.22);
}
.room-action-buttons-container {
	display: flex;
	justify-content: space-between;
    margin-top: 40px;
}
.message-bar {
	background-color: #454545;
	border-radius: 0 0 5px 5px;
	color: #EFF1F3;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 15px 0;
	text-align: center;
	width: 100%;
}

/* Room Creation
   ========================================================================== */

.room-creation-text-input {
	margin: 5px 0;
}
.room-creation-input-container {
	align-items: center;
	background-color: #454545;
	border-radius: 5px;
	border: solid 3px #454545;
	box-shadow: 0 3px 5px rgba(0,0,0,0.22);
	display: flex;
	justify-content: space-between;
	padding: 12px 20px;
}
.game-mode-select {
	margin: 0 10px;
	height: 53px;
}

/* Room List
   ========================================================================== */

.room-list-items-container::-webkit-scrollbar-track {
	background-color: #454545;
}
.room-list-items-container::-webkit-scrollbar {
	background-color: #454545;
	width: 10px;
}
.room-list-items-container::-webkit-scrollbar-thumb {
	background-color: #eb4d4b;	
}
.room-list-items-container {
	display: flex;
	flex-direction: column;
}
.room-item-info {
	margin: 5px 0;
}
.room-item:focus {
	outline:0;
}
.room-item-info-container {
	display: flex;
	flex-direction: column;
}
.room-item {
	align-items: center;
	display: flex;
	font-weight: 500;
	flex-wrap: wrap;
	justify-content: space-between;
	letter-spacing: 1px;
}

/* Player List
   ========================================================================== */

.player-list {
	display: flex;
	flex-direction: column;
}

/* ==========================================================================
   Game
   ========================================================================== */

.game-container {
	background-color: #383838;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    max-width: 900px;
	width: 95%;
}
.board-stats-container {
	display: flex;
	padding: 0 30px 30px;
	justify-content: space-between;
}
.button-container {
	display: flex;
    justify-content: space-evenly;
    margin: 40px 0;
}

/* ==========================================================================
   Board
   ========================================================================== */

.board-container {
	background-color: #383838;
	border-radius: 5px;
	border: solid 10px #454545;
	display: flex;
	flex-wrap: wrap;
	height: 600px;
	position: relative;
	width: 300px;
}
.block {
	width: 26px;
	height: 26px;
}
.block.white {
	height: 28.5px;
	width: 28.5px;
}
.game-end-screen {
	align-items: center;
	background-color:rgba(0,0,0,0.6);
	color: #eb4d4b;
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: 600;
	height: 100%;
	justify-content: center;
	position: absolute;
	text-align: center;
	width: 100%;
}
.game-end-screen * {
	width: 90%
}
.game-end-title {
	margin: 0;
	font-size: 90px;
}
.game-end-message {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 500;
}

/* ==========================================================================
   Stats
   ========================================================================== */

.stats-container {
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	width: 310px;
}
.score-container,
.next-piece-container {
	margin-bottom: 10px;
	width: 100%;
}
.player-base-info {
	align-items: center;
	background-color: #454545;
	border-radius: 5px 5px 0 0;
	display: flex;
	height: 27px;
	justify-content: center;
	margin-bottom: 25px;
	overflow-x: auto;
	padding: 15px;
	position: relative;
}
.player-base-info-label {
	color: #EFF1F3;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
}
.player-base-info .player-base-info-label:nth-of-type(3) {
	margin: 0 5px;
}
.score-display,
.next-piece-display {
	align-items: center;
	background-color: #454545;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15px;
}
.score-label {
	color: #EFF1F3;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: 600;
}
.score-display .score-label:last-of-type {
	font-size: 41px;
	color: #eb4d4b;
	letter-spacing: 2px;
}
.stats-container .generic-button {
	width: 100%;
}

/* ==========================================================================
   Spectrums
   ========================================================================== */

.spectrums-container {
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
}
.spectrum-wrapper {
	display: flex;
    flex-direction: column;
    align-items: center;
}
.spectrum-container {
	background-color: white;
	flex-wrap: wrap;
	height: 120px;
	margin: 10px 13px;
	width: 60px;
	display: flex;
	border: #454545 solid 7px;
	border-radius: 5px;
}
.spectrum-container .block{
	border: none;
	height: 6px;
	width: 6px;
}
.spectrum-player-name {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #eb4d4b;
	font-weight: 600;
}
.spectrums-container::-webkit-scrollbar-track {
	background-color: #454545;
}
.spectrums-container::-webkit-scrollbar {
	background-color: #454545;
	width: 10px;
}
.spectrums-container::-webkit-scrollbar-thumb {
	background-color: #eb4d4b;	
}

/* ==========================================================================
   Responsive
   ========================================================================== */

/* Tablet
   ========================================================================== */

@media (max-width: 990px) {
	.room-selection-container {
		flex-wrap: wrap;
	}
	.room-selection-container > * {
		width: 90%;
	}
	.music-toggle:hover {
		transform: none;
	}
}
@media (max-width: 745px) {
	.board-stats-container {
		flex-wrap: wrap;
		justify-content: center;
	}
	.stats-container {
		margin-top: 20px;
	}
}

/* Smartphone
   ========================================================================== */

@media (max-width: 575px) {
	.room-item-info-container {
		margin-bottom: 10px;
	}
	.room-creation-input-container {
		flex-direction: column;
	}
	.room-creation-text-input {
		margin-bottom: 10px;
		width: 95%;
	}
}
@media (max-width: 435px) and (max-height: 768px) {
	.music-toggle {
		top: 33px;
	}
	.username-input-container {
		max-width: 95%;
		justify-content: space-between;
	}
	.username-input-form {
		margin: 20px;
	}
	.player-base-info {
		margin-bottom: 34px;
	}
	.player-base-info-label {
		display: none;
	}
	.board-stats-container {
		padding: 0 0 30px;
	}
	.username-input-container,
	.room-selection-wrapper,
	.game-container {
		border-radius: 0;
		min-width: 100vw;
		min-height: 100vh;
	}
}

/* Larger Screen
   ========================================================================== */

@media (min-width: 915px) and (min-height: 935px) {
	.block {
		border-width: 3px;
		height: 34px;
		width: 34px;
	}
	.block.white {
		border-width: 1px;
		height: 38px;
		width: 38px;
	}
	.stats-container {
		height: 800px;
		width: 360px;
	}
	.board-container {
		height: 800px;
		width: 400px;
	}
	.spectrum-container {
		height: 160px;
		width: 80px;
	}
	.spectrum-container .block {
		height: 8px;
		width: 8px;
	}
}
