/* ==========================================================================
   General
   ========================================================================== */

html, body {
	height: 100%;
	margin: 0;
}
#root {
	background-color: #9AADBF;
	min-height: 100%;
	min-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.white {
	background-color: white;
	border: solid 0.75px #f5f6fa;
}
.red {
	background-color: #eb4d4b;
	border: solid 2px #c31715;
}
.loading-icon {
	width: 3em;
	height: 3em;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	padding: 10px;
    background-color: #454545;
    border-radius: 5px;
}
.loading-icon > div {
	width: 0.5em;
	height: 0.5em;
	background-color: #eb4d4b;
	animation: fade 1s alternate ease-in-out infinite;
}
.loading-icon > div:nth-of-type(2),
.loading-icon > div:nth-of-type(4) {
	animation-delay: 165ms;
}
.loading-icon > div:nth-of-type(3),
.loading-icon > div:nth-of-type(5),
.loading-icon > div:nth-of-type(7) {
	animation-delay: 330ms;
}
.loading-icon > div:nth-of-type(6),
.loading-icon > div:nth-of-type(8) {
	animation-delay: 495ms;
}
.loading-icon > div:nth-of-type(9) {
	animation-delay: 660ms;
}
@keyframes fade {
	to {
		opacity: 0.2;
	}
}
.three-dots-container {
	display: flex;
	justify-content: space-between;
	left: 20px;
	position: absolute;
	top: calc(50% - 5px);
	width: 50px;
}
.three-dots-container div {
	background-color: rgb(252, 98, 93);
	border-radius: 50%;
	height: 12px;
	width: 12px;
}
.three-dots-container div:nth-of-type(2) {
	background-color: rgb(253, 190, 65);
}
.three-dots-container div:last-of-type {
	background-color: rgb(53, 203, 75);
}
.generic-button {
	background-color: #eb4d4b;
	border: solid 1px #383838;
	border-bottom: 4px solid #c31715;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 0.05em;
	padding: 10px 15px;
	text-transform: uppercase;
	transition: 0.1s;
	min-width: 135px;
}
.generic-button:disabled {
	opacity: 0.7;
}
.generic-button:hover:enabled {
	border-bottom-width: 0;
	margin-top: 4px;
}

/* ==========================================================================
   Lobby
   ========================================================================== */

.game-title {
	color: #eb4d4b;
	font-family: 'Open Sans', sans-serif;
	font-size: 80px;
	text-align: center;
	margin: 0;
	padding: 0 40px;
}
.username-input-container { 
	background-color: #383838;
	border-radius: 5px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	display: flex;
	flex-direction: column;
}
.room-selection-container {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 50px;
}
.room-selection-wrapper {
	background-color: #383838;
	width: 80vw;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	max-width: 1200px;
}
.username-input-form {
	padding: 40px 40px 57px;
	display: flex;
    flex-direction: column;
	align-items: center;
	background-color: #454545;
	border-radius: 5px;
	margin: 50px 80px 80px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.22);
}
.input-error-message {
	background-color: #f5a5a4;
	border-radius: 5px;
	color: #eb4d4b;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 500;
	height: 27px;
	margin-bottom: 20px;
	padding: 10px 15px;
	text-align: center;
	transition: opacity 0.3s;
	width: 276px;
}
.error-transition-enter {
	opacity: 0;
}
.error-transition-enter-active {
	opacity: 1;
}
.error-transition-appear {
	opacity: 0;
}
.error-transition-appear-active {
	opacity: 1;
}
.room-selection-left-side {
	height: 100%;
	width: calc(65% - 60px);
}
.room-selection-right-side {
	height: 100%;
	width: calc(35% - 60px);
}
.room-list-container,
.room-creation-container,
.room-info-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.room-list-container {
	max-height: 630px;
	overflow-y: auto;
}
.room-creation-container {
	margin-top: 60px;
}
.room-list-items-container::-webkit-scrollbar-track {
	background-color: #454545;
}
.room-list-items-container::-webkit-scrollbar {
	background-color: #454545;
	width: 10px;
}
.room-list-items-container::-webkit-scrollbar-thumb {
	background-color: #eb4d4b;	
}
.room-list-items-container {
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	width: 100%;
}
.room-item {
	align-items: center;
	background-color: #454545;
	border: solid 3px #454545;
	border-radius: 5px;
	color: #EFF1F3;
	display: flex;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 500;
	justify-content: space-between;
	letter-spacing: 1px;
	margin: 10px 30px 10px 0;
	padding: 6px 20px;
	width: 100%;
	box-shadow: 0 3px 5px rgba(0,0,0,0.22);
}
.room-creation-input-container {
	display: flex;
	background-color: #454545;
	border: solid 3px #454545;
	border-radius: 5px;
	justify-content: space-between;
	margin: 10px 30px 10px 0;
	padding: 12px 20px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.22);
}
.room-item:focus {
	outline:0;
}
.room-item-info-container {
	display: flex;
	flex-direction: column;
}
.room-item-info {
	margin: 5px 0;
}
.room-list-title,
.room-creation-title,
.room-info-title {
	color: #eb4d4b;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	letter-spacing: 1px;
	padding: 20px 0px;
	width: max-content;
}
.player-list {
	display: flex;
	flex-direction: column;
}
.player-item {
	background-color: #454545;
	border-radius: 5px;
	color: #EFF1F3;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	padding: 12px 20px;
	margin: 10px 0;
	width: max-content;
	box-shadow: 0 3px 5px rgba(0,0,0,0.22);
}
input {
	background-color: #EFF1F3;
	border-radius: 5px;
	border: solid 3px #454545;
	color: #eb4d4b;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin: 0 0 40px;
	outline: none;
	padding: 10px 15px;
	transition: border 0.3s;
	width: 270px;
}
input:focus {
	border: solid 3px #eb4d4b;
}
input::placeholder {
	color: #aaa4a4;
}
.room-creation-text-input {
	margin: 0;
}
.room-action-buttons-container {
	display: flex;
	justify-content: space-between;
    margin-top: 40px;
}

/* ==========================================================================
   Game
   ========================================================================== */

.game-container {
	background-color: #383838;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    max-width: 900px;
	width: 95%;
}
.board-stats-container {
	display: flex;
	padding: 0 30px 30px;
	justify-content: space-between;
}
.window-size-error {
	display: none;
}

/* ==========================================================================
   Board
   ========================================================================== */

.board-container {
	background-color: #383838;
	border-radius: 5px;
	border: solid 10px #454545;
	display: flex;
	flex-wrap: wrap;
	height: 600px;
	position: relative;
	width: 300px;
}
.block {
	width: 26px;
	height: 26px;
}
.block.white {
	height: 28.5px;
	width: 28.5px;
}

/* ==========================================================================
   Stats
   ========================================================================== */

.stats-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 600px;
	width: 310px;
}
.score-container {
	margin-bottom: 20px;
	width: 100%;
}
.player-base-info {
	align-items: center;
	background-color: #454545;
	border-radius: 5px 5px 0 0;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	overflow-x: auto;
	padding: 15px;
	position: relative;
	height: 27px;
}
.player-base-info-label {
	color: #EFF1F3;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
}
.player-base-info .player-base-info-label:nth-of-type(3) {
	margin: 0 5px;
}
.score-display {
	align-items: center;
	background-color: #454545;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15px;
}
.score-label {
	color: #EFF1F3;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: 600;
}
.score-display .score-label:last-of-type {
	font-size: 41px;
	color: #eb4d4b;
	letter-spacing: 2px;
}

/* ==========================================================================
   Spectrums
   ========================================================================== */

.spectrums-container {
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
}
.spectrum-container {
	background-color: white;
	flex-wrap: wrap;
	height: 120px;
	margin: 10px 13px;
	width: 60px;
	display: flex;
	border: #454545 solid 7px;
	border-radius: 5px;
}
.spectrum-container .white,
.spectrum-container .red {
	border: none;
}
.spectrum-container .block{
	height: 6px;
	width: 6px;
}
.spectrums-container::-webkit-scrollbar-track {
	background-color: #454545;
}
.spectrums-container::-webkit-scrollbar {
	background-color: #454545;
	width: 10px;
}
.spectrums-container::-webkit-scrollbar-thumb {
	background-color: #eb4d4b;	
}

@media (max-width: 729.98px) {
	.stats-container {
		display: none;
	}
	.board-stats-container {
		justify-content: center;
	}
}
@media (max-width: 419.98px) {
	.room-list-items-container {
		flex-wrap: initial;
		flex-direction: column;
		justify-content: center;
	}
}
@media (max-width: 399.98px), (max-height: 739.98px) {
	.stats-container {
		display: none;
	}
	.board-container {
		display: none;
	}
	.window-size-error {
		color: #eb4d4b;
		display: block;
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		font-weight: 600;
		margin: auto;
		text-align: center;
	}
	.three-dots-container {
		display: none;
	}
}
@media (min-width: 890px) and (min-height: 935px) {
	.white {
		background-color: white;
		border: solid 1px #f5f6fa;
	}
	.red {
		background-color: #eb4d4b;
		border: solid 3px #c31715;
	}
	.stats-container {
		height: 800px;
		width: 360px;
	}
	.board-container {
		height: 800px;
		width: 400px;
	}
	.block {
		height: 34px;
		width: 34px;
	}
	.block.white {
		height: 38px;
		width: 38px;
	}
	.spectrum-container {
		height: 160px;
		width: 80px;
	}
	.spectrum-container .block{
		height: 8px;
		width: 8px;
	}
}
