/* General */
html, body {
	height: 100%;
	margin: 0;
}
#root {
	background-color: #4f47a2;
	min-height: 100%;
	min-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.white {
	background-color: white;
	border: solid 0.75px #f5f6fa;
}
.red {
	background-color: #eb4d4b;
	border: solid 2px #c31715;
}
.loading-icon {
	width: 3em;
	height: 3em;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
}
.loading-icon > div {
	width: 0.5em;
	height: 0.5em;
	background-color: #eb4d4b;
	animation: fade 1s alternate ease-in-out infinite;
}
.loading-icon > div:nth-of-type(2),
.loading-icon > div:nth-of-type(4) {
	animation-delay: 165ms;
}
.loading-icon > div:nth-of-type(3),
.loading-icon > div:nth-of-type(5),
.loading-icon > div:nth-of-type(7) {
	animation-delay: 330ms;
}
.loading-icon > div:nth-of-type(6),
.loading-icon > div:nth-of-type(8) {
	animation-delay: 495ms;
}
.loading-icon > div:nth-of-type(9) {
	animation-delay: 660ms;
}
@keyframes fade {
	to {
		opacity: 0.2;
	}
}
.three-dots-container {
	display: flex;
	justify-content: space-between;
	left: 20px;
	position: absolute;
	top: calc(50% - 5px);
	width: 50px;
}
.three-dots-container div {
	background-color: rgb(252, 98, 93);
	border-radius: 50%;
	height: 12px;
	width: 12px;
}
.three-dots-container div:nth-of-type(2) {
	background-color: rgb(253, 190, 65);
}
.three-dots-container div:last-of-type {
	background-color: rgb(53, 203, 75);
}

/* Lobby */
.game-title {
	color: #eb4d4b;
	font-family: 'Open Sans', sans-serif;
	font-size: 75px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-align: center;
}
.username-input-container,
.room-selection-container {
	align-items: center;
	background-color: #383838;
	border-radius: 5px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	display: flex;
	flex-direction: column;
	width: 90vw;
	height: 90vh;
}
.input-submit-container {
	padding: 0 40px 40px 40px;
	display: flex;
    flex-direction: column;
	align-items: center;
	background-color: #454545;
	border-radius: 5px;
}
.input-error-message {
	color: #eb4d4b;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}
.room-list-container {
	background-color: #454545;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	margin: 40px 0 0;
	max-height: 180px;
	max-width: 360px;
}
.room-list-items-container::-webkit-scrollbar-track {
	background-color: #454545;
}
.room-list-items-container::-webkit-scrollbar {
	background-color: #454545;
	width: 10px;
}
.room-list-items-container::-webkit-scrollbar-thumb {
	background-color: #eb4d4b;	
}
.room-list-items-container {
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
}
.room-item {
	color: #eb4d4b;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 10px;
	width: 33.33%;
	background: none;
    border: none;
}
.room-list-title {
	color: #d3d0d0;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	margin: 10px 0;
	padding: 0 10px;
	text-align: center;
}
.input-label {
	background-color: #454545;
	border-radius: 5px 5px 0 0;
	color: #d3d0d0;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	letter-spacing: 1px;
	padding: 15px 0;
	position: relative;
	text-align: center;
	width: 100%;
}
input {
	background-color: #d3d0d0;
	border-radius: 5px;
	border: solid 3px #eb4d4b;
	color: #eb4d4b;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin: 40px 0;
	outline: none;
	padding: 10px 15px;
	width: calc(100% - 26px);
}
button:not(.room-item) {
	background-color: #eb4d4b;
	border: solid 1px #383838;
	border-bottom: 4px solid #c31715;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 4px;
	padding: 13px 22px;
	text-transform: uppercase;
	transition: 0.1s;
	width: 120px;
}
.username-input-container button:not(.room-item) {
	margin-bottom: 3px;
}
button:not(.room-item):disabled {
	opacity: 0.7;
}
button:not(.room-item):hover:enabled {
	border-bottom-width: 0;
	margin-top: 4px;
}

/* Game */
.game-container {
	background-color: #383838;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    max-width: 900px;
	width: 95%;
}
.board-stats-container {
	display: flex;
	padding: 0 30px 30px;
	justify-content: space-between;
}
.window-size-error {
	display: none;
}

/* Board */
.board-container {
	background-color: #383838;
	border-radius: 5px;
	border: solid 10px #454545;
	display: flex;
	flex-wrap: wrap;
	height: 600px;
	position: relative;
	width: 300px;
}
.block {
	width: 26px;
	height: 26px;
}
.block.white {
	height: 28.5px;
	width: 28.5px;
}
.board-waiting-screen {
	background-color: #454545;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-direction: column;
	position: absolute;
	width: 100%;
}
.board-waiting-message {
	color: #eb4d4b;
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	letter-spacing: 1.5px;
	font-weight: 600;
}
.board-waiting-message.owner-message {
	margin-bottom: 30px;
}

/* Score */
.stats-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 600px;
	width: 310px;
}
.score-container {
	margin-bottom: 20px;
	width: 100%;
}
.player-base-info {
	align-items: center;
	background-color: #454545;
	border-radius: 5px 5px 0 0;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	overflow-x: auto;
	padding: 15px;
	position: relative;
}
.player-base-info-label {
	color: #d3d0d0;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
}
.player-base-info .player-base-info-label:nth-of-type(3) {
	margin: 0 5px;
}
.score-display {
	align-items: center;
	background-color: #454545;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15px;
}
.score-label {
	color: #d3d0d0;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: 600;
}
.score-display .score-label:last-of-type {
	font-size: 41px;
	color: #eb4d4b;
	letter-spacing: 2px;
}

/* Spectrums */
.spectrums-container {
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
}
.spectrum-container {
	background-color: white;
	flex-wrap: wrap;
	height: 120px;
	margin: 10px 13px;
	width: 60px;
	display: flex;
	border: #454545 solid 7px;
	border-radius: 5px;
}
.spectrum-container .white,
.spectrum-container .red {
	border: none;
}
.spectrum-container .block{
	height: 6px;
	width: 6px;
}
.spectrums-container::-webkit-scrollbar-track {
	background-color: #454545;
}
.spectrums-container::-webkit-scrollbar {
	background-color: #454545;
	width: 10px;
}
.spectrums-container::-webkit-scrollbar-thumb {
	background-color: #eb4d4b;	
}

@media (max-width: 729.98px) {
	.stats-container {
		display: none;
	}
	.board-stats-container {
		justify-content: center;
	}
}
@media (max-width: 419.98px) {
	.room-list-items-container {
		flex-wrap: initial;
		flex-direction: column;
		justify-content: center;
	}
}
@media (max-width: 399.98px), (max-height: 739.98px) {
	.stats-container {
		display: none;
	}
	.board-container {
		display: none;
	}
	.window-size-error {
		color: #eb4d4b;
		display: block;
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		font-weight: 600;
		margin: auto;
		text-align: center;
	}
	.three-dots-container {
		display: none;
	}
}
@media (min-width: 890px) and (min-height: 935px) {
	.white {
		background-color: white;
		border: solid 1px #f5f6fa;
	}
	.red {
		background-color: #eb4d4b;
		border: solid 3px #c31715;
	}
	.stats-container {
		height: 800px;
		width: 360px;
	}
	.board-container {
		height: 800px;
		width: 400px;
	}
	.block {
		height: 34px;
		width: 34px;
	}
	.block.white {
		height: 38px;
		width: 38px;
	}
	.spectrum-container {
		height: 160px;
		width: 80px;
	}
	.spectrum-container .block{
		height: 8px;
		width: 8px;
	}
}
